<h1>Here are the details to your selected movie:</h1>

<div>
    <h2><%= movie.Title %></h2>
    <h3> Release Year: <%= movie.Year %></h3>
    <img src="<%= movie.Poster %>">
    <br>
    <h3> Rated: <%= movie.Rated %></h3>
    <h4> Genre(s): <%= movie.Genre %></h3>
    <p> Director(s): <%= movie.Director %></p>
    <p> Actors(s): <%= movie.Actors %></p>
    <p> Writer(s): <%= movie.Writer %></p>
    <p> imdb Ratings: <%= movie.imdbRating %> | Rotten Tomato Rating: <%= movie.Ratings[1].Value %></p>
    <p> Plot: <%= movie.Plot %></p>
    <p> Awards: <%= movie.Awards %></p>
</div>

<form method="POST" action="/faves">
    <input type="hidden" name="title" value="<%= movie.Title %>"/>
    <input type="hidden" name="imdbid" value="<%= movie.imdbID %>"/>
    <button type="submit">Add to Favorites</button>
</form>