<h1>Here are the details to your selected movie:</h1>

<h2><%= movie.Title %></h2>
<h3> Release Year: <%= movie.Year %></h3>
<img src="<%= movie.Poster %>">
<br>
<h3> Rated: <%= movie.Rated %></h3>
<h4> Genre(s): <%= movie.Genre %></h3>
<h4> Director(s): <%= movie.Director %></h3>
<h4> Actors(s): <%= movie.Actors %></h3>
<h4> Writer(s): <%= movie.Writer %></h3>
<p> Ratings: <%= movie.imdbRating %></p>
<p> Plot: <%= movie.Plot %></p>